# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml

# Android
android/.gradle/
android/app/build/
*.keystore

# iOS/macOS
ios/Pods/
ios/.generated/
ios/Flutter/
ios/Runner.xcworkspace/
macos/Pods/
macos/.generated/
macos/Flutter/

# Web/Desktop
web/.dart_tool/
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.*
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*

# Firebase
.firebase/
.firebase-debug.log
*.firebase*
*service-account*.json
*.secret.*
.env
.env.*

# Outros
*.lock
*.log
*.DS_Store
*.apk
*.ipa
*.orig
*.tmp

# Arquivos temporários de merge
*.rej
*.swp
*.swo
*.swn

# Arquivos de pacotes específicos
coverage/