# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Android
android/.gradle/
android/captures/
android/app/build/
*.keystore

# iOS/macOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.generated
ios/Pods/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
macos/Pods/

# Web
web/.dart_tool/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.*

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.*

# Xcode
*.xcworkspace
DerivedData/
*.xcuserstate

# Others
*.log
*.lock
.env
firebase-debug.log